main {
	padding: 0 $padding-small;
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: $maxwidth;
	margin: 0 auto;

	@include breakpoint ($large) {
		padding: 0 $padding;
	}
}