header {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
	max-width: $maxwidth;
	margin: 0 auto;
	padding: 0 $padding-small;

	@include breakpoint ($large) {
		padding: 0 $padding;
	}
}