.nav, nav{
	width: 100%;

	@include breakpoint ($large) {
		padding: 2.5rem 0;
	}
}

.nav__links {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	@include breakpoint ($large) {
		flex-direction: row;

		.btn--nav {
			width: 130px;
		}
	}
}