section {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;

	@include breakpoint ($large) {
		padding: $section-padding 0;

		& > div {
			padding: 1.5rem 0;
		}
	}
}