/*------------------------------------*\
** GLOBAL
\*------------------------------------*/

html {
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

body {
  box-sizing: border-box;
  overflow-x: hidden;
  position: relative;
  background: $black;
}

main {
	overflow: hidden;
}

*, *:before, *:after {
  box-sizing: border-box;
}
