/*------------------------------------*\
** VARIABLES
\*------------------------------------*/

// http://www.zell-weekeat.com/responsive-typography

@import url('https://fonts.googleapis.com/css?family=Abel');

$base-font-family: 'Abel', sans-serif;
$base-font-weight: 300;
$base-font-size: 16px;
$base-line-height: 1.6;
/*$base-font-color: $text-highlight;*/

$heading-font-family: 'Abel', sans-serif;



/*------------------------------------*\
** HEADINGS
\*------------------------------------*/

h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font-family;
  margin: 0;
  padding: 0;
  margin-bottom: 1rem;
  font-weight: 300;
}

h1 {
  @include font-size($h1-font-sizes);
  font-weight: 800;
}

h2 {
  @include font-size($h2-font-sizes);
  font-weight: 500;
}

h3 {
  @include font-size($h3-font-sizes);
  font-weight: $extrabold;
}

h4 {
  @include font-size($h4-font-sizes);
}

h5 {
  @include font-size($h5-font-sizes);
}

h6 {
  @include font-size($h6-font-sizes);
}

.subheadline{
  font-size: 1.125em;
  font-weight: 500;
  line-height: 1.78;
  margin-bottom: 3.75rem;
}



/*------------------------------------*\
** LISTS
\*------------------------------------*/

ul li {
  list-style-type: none;
}

ol li {
  
}



/*------------------------------------*\
** LINKS
\*------------------------------------*/

a, a.link {
  outline-width: 0;
  transition: 0.2s;
  text-decoration: none;
  text-transform: uppercase;
  color: $color-primary;
  cursor: pointer;
}

a, a.link:hover, a.link:focus, a.link:active {
}



/*------------------------------------*\
** OTHER
\*------------------------------------*/

b, strong, .strong {
  font-weight: $bold;
}

p, li {
  @include font-size($copy-font-sizes);
  font-family: $base-font-family;
  margin: 0;
  font-weight: 400;

  &:empty, :blank{
    display: none;
  }
}

pre,
code {
  font-size: 0.75rem;
  line-height: 1rem;
  margin-bottom: 1rem;
  display: block;
}

/*------------------------------------*\
** TEXT MODIFIERS
\*------------------------------------*/
/*
.mobile-white{
  color: $white--true;
}

.mobile-black{
  color: $text-highlight;
}

.black{
  color: $text-highlight;
}

.white{
  color: $white--true;
}*/