.btn--main {
	text-transform: uppercase;
	border: 1px solid $color-primary;
	padding: 1rem;
	color: $color-primary;
	display: flex;
	justify-content: center;
	align-items: center;
	white-space: nowrap;
	cursor: pointer;

	&:hover, &:focus, &.active {
		background: $color-primary;
		color: $black;
	}
}

.btn--nav {
	border: none;
	border-right: 1px solid $color-primary;
	
	&:nth-last-child(1) {
		border-right: none;
	}

	@include breakpoint ($large) {
		max-height: 50px;
	}
}

.btn--small {
	padding: 0.4rem;
}

.btn--anchor {
	margin: 0 auto;
	display: block;
	position: relative;

	@include breakpoint ($large) {
		font-size: 1.5rem;
		padding: 2rem;
	}
}