.card{
	display: flex;
	background: #565656;
	position: relative;
	cursor: pointer;

	@include breakpoint ($large) {
		padding: 0.7rem;
		height: 500px;
		width: 100%;
	}

	img {
		position: absolute;
		top: 0; left: 0; right: 0; bottom: 0;
		z-index: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.card--wide {
	@include breakpoint ($large) {
		grid-column: span 2;
	}
}