.grid {
	display: grid;
	width: 100%;
	grid-template-columns: 1fr;

	@include breakpoint ($large) {
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 2rem;
	}

	@include breakpoint ($xlarge) {
		grid-template-columns: repeat(4, 1fr);
	}

	@include breakpoint ($xxlarge) {
		grid-template-columns: repeat(5, 1fr);
	}
}