/*------------------------------------*\
# CONFIG
\*------------------------------------*/
/*------------------------------------*\
** COLORS
\*------------------------------------*/
/*------------------------------------*\
** BREAKPOINTS
\*------------------------------------*/
/*------------------------------------*\
# GRID
\*------------------------------------*/
/*------------------------------------*\
** BUTTONS
\*------------------------------------*/
/*------------------------------------*\
** INPUTS
\*------------------------------------*/
/*------------------------------------*\
** FONT WEIGHTS
\*------------------------------------*/
/*------------------------------------*\
** FONT CONFIG
\*------------------------------------*/
/*$base-font-color: $text-highlight;*/
/*------------------------------------*\
** FONT SIZES
\*------------------------------------*/
/*------------------------------------*\
# Transitions
\*------------------------------------*/
/*------------------------------------*\
# Paddings
\*------------------------------------*/
/*------------------------------------*\
# Widths
\*------------------------------------*/
/*------------------------------------*\
** RESPONSIVE FONT SIZES
\*------------------------------------*/
/*------------------------------------*\
** UTILIY FUNCTION FOR FONT-SIZE MIXIN
\*------------------------------------*/
/*------------------------------------*\
** BREAKPOINTS
\*------------------------------------*/
/*------------------------------------*\
** VERTICAL CENTERING
\*------------------------------------*/
/*------------------------------------*\
** CARD DEPTH
\*------------------------------------*/
/*------------------------------------*\
** UTILITY FUNCTION FOR CARD DEPTH MIXIN
\*------------------------------------*/
/*------------------------------------*\
** UTILITY FUNCTION FOR CARD DEPTH MIXIN
\*------------------------------------*/
/*------------------------------------*\
# BASE
\*------------------------------------*/
/*------------------------------------*\
** VARIABLES
\*------------------------------------*/
@import url("https://fonts.googleapis.com/css?family=Abel");
/*$base-font-color: $text-highlight;*/
/*------------------------------------*\
** HEADINGS
\*------------------------------------*/
h1, h2, h3, h4, h5, h6 {
  font-family: "Abel", sans-serif;
  margin: 0;
  padding: 0;
  margin-bottom: 1rem;
  font-weight: 300; }

h1 {
  font-size: 1.75rem;
  line-height: 1.43;
  font-weight: 800; }
  @media screen and (min-width: 640px) {
    h1 {
      font-size: 2rem;
      line-height: 1.2; } }
  @media screen and (min-width: 1024px) {
    h1 {
      font-size: 2.5rem;
      line-height: 1.2; } }
  @media screen and (min-width: 1200px) {
    h1 {
      font-size: 2.5rem;
      line-height: 1.2; } }
  @media screen and (min-width: 1440px) {
    h1 {
      font-size: 2.5rem;
      line-height: 1.2; } }

h2 {
  font-size: 1.25rem;
  line-height: 1.2;
  font-weight: 500; }
  @media screen and (min-width: 640px) {
    h2 {
      font-size: 1.5rem;
      line-height: 1.2; } }
  @media screen and (min-width: 1024px) {
    h2 {
      font-size: 2.5rem;
      line-height: 1.2; } }
  @media screen and (min-width: 1200px) {
    h2 {
      font-size: 2.5rem;
      line-height: 1.2; } }
  @media screen and (min-width: 1440px) {
    h2 {
      font-size: 2.5rem;
      line-height: 1.2; } }

h3 {
  font-size: 1.125rem;
  line-height: 1.2;
  font-weight: 900; }
  @media screen and (min-width: 640px) {
    h3 {
      font-size: 1.25rem;
      line-height: 1.2; } }
  @media screen and (min-width: 1024px) {
    h3 {
      font-size: 2rem;
      line-height: 1.2; } }
  @media screen and (min-width: 1200px) {
    h3 {
      font-size: 2rem;
      line-height: 1.2; } }
  @media screen and (min-width: 1440px) {
    h3 {
      font-size: 2rem;
      line-height: 1.2; } }

h4 {
  font-size: 0.875rem;
  line-height: 1.2; }
  @media screen and (min-width: 640px) {
    h4 {
      font-size: 1rem;
      line-height: 1.2; } }
  @media screen and (min-width: 1024px) {
    h4 {
      font-size: 1.5rem;
      line-height: 1.2; } }
  @media screen and (min-width: 1200px) {
    h4 {
      font-size: 1.5rem;
      line-height: 1.2; } }
  @media screen and (min-width: 1440px) {
    h4 {
      font-size: 1.5rem;
      line-height: 1.2; } }

h5 {
  font-size: 1rem;
  line-height: 1.2; }
  @media screen and (min-width: 640px) {
    h5 {
      font-size: 1rem;
      line-height: 1.2; } }
  @media screen and (min-width: 1024px) {
    h5 {
      font-size: 1rem;
      line-height: 1.2; } }
  @media screen and (min-width: 1200px) {
    h5 {
      font-size: 1rem;
      line-height: 1.2; } }
  @media screen and (min-width: 1440px) {
    h5 {
      font-size: 1rem;
      line-height: 1.2; } }

h6 {
  font-size: 1rem;
  line-height: 1.2; }
  @media screen and (min-width: 640px) {
    h6 {
      font-size: 1rem;
      line-height: 1.2; } }
  @media screen and (min-width: 1024px) {
    h6 {
      font-size: 1rem;
      line-height: 1.2; } }
  @media screen and (min-width: 1200px) {
    h6 {
      font-size: 1rem;
      line-height: 1.2; } }
  @media screen and (min-width: 1440px) {
    h6 {
      font-size: 1rem;
      line-height: 1.2; } }

.subheadline {
  font-size: 1.125em;
  font-weight: 500;
  line-height: 1.78;
  margin-bottom: 3.75rem; }

/*------------------------------------*\
** LISTS
\*------------------------------------*/
ul li {
  list-style-type: none; }

/*------------------------------------*\
** LINKS
\*------------------------------------*/
a, a.link {
  outline-width: 0;
  transition: 0.2s;
  text-decoration: none;
  text-transform: uppercase;
  color: #2b8cb7;
  cursor: pointer; }

/*------------------------------------*\
** OTHER
\*------------------------------------*/
b, strong, .strong {
  font-weight: 700; }

p, li {
  font-size: 0.875rem;
  line-height: 1.5;
  font-family: "Abel", sans-serif;
  margin: 0;
  font-weight: 400; }
  @media screen and (min-width: 640px) {
    p, li {
      font-size: 1rem;
      line-height: 1.5; } }
  @media screen and (min-width: 1024px) {
    p, li {
      font-size: 1.125rem;
      line-height: 1.5; } }
  @media screen and (min-width: 1200px) {
    p, li {
      font-size: 1.125rem;
      line-height: 1.5; } }
  @media screen and (min-width: 1440px) {
    p, li {
      font-size: 1.125rem;
      line-height: 1.5; } }
  p:empty, p :blank, li:empty, li :blank {
    display: none; }

pre,
code {
  font-size: 0.75rem;
  line-height: 1rem;
  margin-bottom: 1rem;
  display: block; }

/*------------------------------------*\
** TEXT MODIFIERS
\*------------------------------------*/
/*
.mobile-white{
  color: $white--true;
}

.mobile-black{
  color: $text-highlight;
}

.black{
  color: $text-highlight;
}

.white{
  color: $white--true;
}*/
/*------------------------------------*\
** GLOBAL
\*------------------------------------*/
html {
  font-family: "Abel", sans-serif;
  font-size: 16px;
  line-height: 1.6; }

body {
  box-sizing: border-box;
  overflow-x: hidden;
  position: relative;
  background: #252525; }

main {
  overflow: hidden; }

*, *:before, *:after {
  box-sizing: border-box; }

/*------------------------------------*\
# LAYOUT
\*------------------------------------*/
header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 16px; }
  @media only screen and (min-width: 1024px) {
    header {
      padding: 0 2rem; } }

.nav, nav {
  width: 100%; }
  @media only screen and (min-width: 1024px) {
    .nav, nav {
      padding: 2.5rem 0; } }

.nav__links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  @media only screen and (min-width: 1024px) {
    .nav__links {
      flex-direction: row; }
      .nav__links .btn--nav {
        width: 130px; } }

section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; }
  @media only screen and (min-width: 1024px) {
    section {
      padding: 2.5rem 0; }
      section > div {
        padding: 1.5rem 0; } }

main {
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto; }
  @media only screen and (min-width: 1024px) {
    main {
      padding: 0 2rem; } }

/*------------------------------------*\
# MODULES
\*------------------------------------*/
.btn--main {
  text-transform: uppercase;
  border: 1px solid #2b8cb7;
  padding: 1rem;
  color: #2b8cb7;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  cursor: pointer; }
  .btn--main:hover, .btn--main:focus, .btn--main.active {
    background: #2b8cb7;
    color: #252525; }

.btn--nav {
  border: none;
  border-right: 1px solid #2b8cb7; }
  .btn--nav:nth-last-child(1) {
    border-right: none; }
  @media only screen and (min-width: 1024px) {
    .btn--nav {
      max-height: 50px; } }

.btn--small {
  padding: 0.4rem; }

.btn--anchor {
  margin: 0 auto;
  display: block;
  position: relative; }
  @media only screen and (min-width: 1024px) {
    .btn--anchor {
      font-size: 1.5rem;
      padding: 2rem; } }

.grid {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr; }
  @media only screen and (min-width: 1024px) {
    .grid {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 2rem; } }
  @media only screen and (min-width: 1200px) {
    .grid {
      grid-template-columns: repeat(4, 1fr); } }
  @media only screen and (min-width: 1440px) {
    .grid {
      grid-template-columns: repeat(5, 1fr); } }

.card {
  display: flex;
  background: #565656;
  position: relative;
  cursor: pointer; }
  @media only screen and (min-width: 1024px) {
    .card {
      padding: 0.7rem;
      height: 500px;
      width: 100%; } }
  .card img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; }

@media only screen and (min-width: 1024px) {
  .card--wide {
    grid-column: span 2; } }

.section-nav {
  display: flex;
  align-items: center;
  justify-content: center; }
  .section-nav .btn--main {
    width: 120px; }

/*# sourceMappingURL=main.css.map */
