/*------------------------------------*\
** COLORS
\*------------------------------------*/

$color-primary          : #2b8cb7;

$white--true            : #FFFFFF;
$white                  : #F9F9F9;
$black                  : #252525;
$black--true            : #000000;

/*------------------------------------*\
** BREAKPOINTS
\*------------------------------------*/

$small: 0;
$medium: 640px;
$large: 1024px;
$xlarge: 1200px;
$xxlarge: 1440px;

$breakpoints: (
  small   : $small,
  medium  : $medium,
  large   : $large,
  xlarge  : $xlarge,
  xxlarge : $xxlarge
  );



/*------------------------------------*\
# GRID
\*------------------------------------*/

$gutter: 2rem;
$width: 1176px;
$text-width: 40rem;



/*------------------------------------*\
** BUTTONS
\*------------------------------------*/

$button-radius: 0;
$button-padding--lr: 1.875rem;
$button-padding--tb: 0.625rem;
$button-icon--size: 1.5rem;



/*------------------------------------*\
** INPUTS
\*------------------------------------*/

$input-radius: 0;
$input-padding: 0.5rem;
$input-border: 1px solid #dcdcdc;



/*------------------------------------*\
** FONT WEIGHTS
\*------------------------------------*/

$light: 300;
$regular: 400;
$semibold: 600;
$bold: 700;
$extrabold: 900;



/*------------------------------------*\
** FONT CONFIG
\*------------------------------------*/

$base-font-family: 'Montserrat', sans-serif;;
$base-font-weight: $regular;
$base-font-size: 16px;
$base-line-height: 1.5;
/*$base-font-color: $text-highlight;*/

$heading-font-family: 'Montserrat', sans-serif;



/*------------------------------------*\
** FONT SIZES
\*------------------------------------*/

$copy-font-sizes: (
  small  : (0.875rem, $base-line-height),
  medium : (1rem, $base-line-height),
  large  : (1.125rem, $base-line-height),
  xlarge : (1.125rem, $base-line-height),
  xxlarge: (1.125rem, $base-line-height)
  );

$h1-font-sizes: (
  small  : (1.75rem, 1.43),
  medium : (2rem, 1.2),
  large  : (2.5rem, 1.2),
  xlarge : (2.5rem, 1.2),
  xxlarge: (2.5rem, 1.2)
  );

$h2-font-sizes: (
  small  : (1.25rem, 1.2),
  medium : (1.5rem, 1.2),
  large  : (2.5rem, 1.2),
  xlarge : (2.5rem, 1.2),
  xxlarge: (2.5rem, 1.2)
  );

$h3-font-sizes: (
  small  : (1.125rem, 1.2),
  medium : (1.25rem, 1.2),
  large  : (2rem, 1.2),
  xlarge : (2rem, 1.2),
  xxlarge: (2rem, 1.2)
  );

$h4-font-sizes: (
  small  : (0.875rem, 1.2),
  medium : (1rem, 1.2),
  large  : (1.5rem, 1.2),
  xlarge : (1.5rem, 1.2),
  xxlarge: (1.5rem, 1.2)
  );

$h5-font-sizes: (
  small  : (1rem, 1.2),
  medium : (1rem, 1.2),
  large  : (1rem, 1.2),
  xlarge : (1rem, 1.2),
  xxlarge: (1rem, 1.2)
  );

$h6-font-sizes: (
  small  : (1rem, 1.2),
  medium : (1rem, 1.2),
  large  : (1rem, 1.2),
  xlarge : (1rem, 1.2),
  xxlarge: (1rem, 1.2)
  );



/*------------------------------------*\
# Transitions
\*------------------------------------*/

$transition-time: 0.3s;

/*------------------------------------*\
# Paddings
\*------------------------------------*/
$padding-small: 16px;
$padding: 2rem;
$section-padding: 2.5rem;

/*------------------------------------*\
# Widths
\*------------------------------------*/

$maxwidth: 1920px;

